<script src="{{ url_for('static',filename = 'js/echarts.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'js/getDays.js') }}"></script>
<div id = 'chart' style="height: 400px; width:800px; border: 1px solid #ccc; padding: 10px;"></div>
<script type="text/javascript">
var myChart = echarts.init(document.getElementById('chart'));
option = {
    title: {
        text: 'DOTA2在线人数',
        textStyle: {
            fontWeight: 'normal',
            fontSize: 16,
            color: '#09098c'
        },
        left: '6%'
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            lineStyle: {
                color: '#57617B'
            }
        }
    },
    legend: {
        icon: 'rect',
        itemWidth: 14,
        itemHeight: 5,
        itemGap: 13,
        data: ['平均在线人数', '最高在线人数'],
        right: '4%',
        textStyle: {
            fontSize: 12,
            color: '#a30206'
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: [{
        show:'展现函数function (){xxxxx;}',
        type: 'category',
        boundaryGap: true,
        axisLine: {
            lineStyle: {
                color: '#57617B'
            }
        },
        data: getPastDays(90,'yyyy/MM/dd')
    }],
    yAxis: [{
        type: 'value',
        name: '单位（万）',
        axisTick: {
            show: false
        },
        max:150,
        axisLine: {
            lineStyle: {
                color: '#57617B'
            }
        },
        axisLabel: {
            margin: 10,
            textStyle: {
                fontSize: 14
            }
        },
        splitLine: {
            lineStyle: {
                color: '#57617B'
            }
        }
    }],
    series: [{
        name: '平均在线人数',
        type: 'line',
        smooth: true,
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
            normal: {
                width: 1
            }
        },
        areaStyle: {
            normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(235, 129, 70, 0.2)'
                }, {
                    offset: 0.8,
                    color: 'rgba(235, 129, 70, 0)'
                }], false),
                shadowColor: 'rgba(0, 0, 0, 0.1)',
                shadowBlur: 10
            }
        },
        itemStyle: {
            normal: {
                color: 'rgb(235,129,70)',
                borderColor: 'rgba(235,129,70,0.27)',
                borderWidth: 12

            }
        },
        data: [120, 110, 125, 145, 122, 165, 122, 220, 182, 191, 134, 150]
    }, {
        name: '最高在线人数',
        type: 'line',
        smooth: true,
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
            normal: {
                width: 1
            }
        },
        areaStyle: {
            normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(137, 52, 72, 0.3)'
                }, {
                    offset: 0.8,
                    color: 'rgba(137, 52, 72, 0)'
                }], false),
                shadowColor: 'rgba(0, 0, 0, 0.1)',
                shadowBlur: 10
            }
        },
        itemStyle: {
            normal: {

                color: 'rgb(137,52,72)',
                borderColor: 'rgba(137,52,72,0.2)',
                borderWidth: 12
            }
        },
        data: [220, 182, 125, 145, 122, 191, 134, 150, 120, 110, 165, 122]
    }, ]
};
myChart.setOption(option);
 </script>



